.page-wrap {
  padding: 50px;
  background-color: #e2e3e4;
  height: 200px;
  -webkit-perspective: 600px;
  transform-style: preserve-3d;
}

.item {
  position: absolute;
  list-style: none;
  width: 100px;
  height: 80px;
  background-color: #FFF;
}

.turn {
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: turn;
  animation-name: turn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes turn {
  to {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }
}
