.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  &.infinite {
    animation-iteration-count: infinite;
  }
}

.mtb20 {
  margin: 20px 0;
}

.ml10{
  margin-left: 10px;
}

.ml20 {
  margin-left: 20px;
}

.mtb10{
  margin: 10px 0;
}

.block {
  display: block;
}

li {
  list-style: none;
}

.font12{
  font-size: 12px;
}

body {
  font-size: 14px;
  color: #111;
  background: url("../img/bg.png") center center repeat;
}

.left {
  float: left;
}

.right {
  float: right;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.wrapper {
  opacity: .6;
  //margin: 80px 30px 10px;
  margin: 80px auto;
  width: 60%;
  box-sizing: border-box;
  position: relative;
  min-height: 500px;
  overflow: hidden;
  //background: url("../img/bg.png") center center repeat;
  .article {
    display: block;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    padding: 20px;
    background: #FFF;
    cursor: pointer;
    margin-top: 30px;
    color: #111;
    text-decoration: none;
    .article-label{
      margin: 10px 0 20px;
      font-size: 12px;
      display: inline-block;
      padding: 5px 10px;
      background: #e1e2e3;
      border-radius: 5px;
    }
  }
}
.nav {
  z-index: 99;
  position: fixed;
  height: 60px;
  background: #FFF;
  width: 100%;
  line-height: 60px;
  box-sizing: border-box;
  box-shadow: 0 0 15px #eee;
  .github {
    height: 36px;
    width: 36px;
    margin: 12px 12px;
    .github-img {
      height: 100%;
      width: 100%;
    }
  }
  .soup {
    height: 100%;
    max-width: 60%;
    margin-left: 5%;
  }
}
.pop-mask {
  /*display: none;*/
  z-index: 98;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #000000;
  opacity: .6;
}

.pop-up {
  /*display: none;*/
  box-shadow: 1px 2px 10px #b2b1b9;
  position: fixed;
  box-sizing: border-box;
  z-index: 99;
  width: 400px;
  //height: 300px;
  left: 20%;
  top: 20%;
  background-color: #FFF;
  border-radius: 4px;
  .pop-title {
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    color: #4caf50;
    border-bottom: 1px solid #4caf50;
    font-weight: 500;
    cursor: move;
    user-select: none;
  }
  .pop-content {
    margin: 10px 30px;
    min-height: 100px;
  }
  .pop-handle {
    text-align: center;
    margin: 10px;
    .handle-style {
      display: inline-block;
      line-height: 28px;
      text-align: center;
      height: 28px;
      width: 98px;
      border: 1px solid #e1e2e3;
      border-radius: 2px;
      cursor: pointer;
      margin: 0 10px;
      font-size: 14px;
    }
    .ok:hover {
      background: #f7f2f2;
      color: #437943;
    }
    .delete:hover {
      background: #f7f2f2;
      color: #f96f6f;
    }
  }
}